// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FOOTER
//// --------------------------------------------------------------------------

	// Configuration 

	$footer-margin: 40px;
	$footer-padding: 20px;
	$footer-bp-01-adjust: 20px;
	$footer-bp-02-adjust: 40px;
	$footer-bp-04-adjust: 60px;

	// Style block

	.footer {
		&, .footer-container {
			position: relative;
		}
		.footer-background {
			@include mixins.flex-layout((flex-flow: column wrap));
			top: 0;
			bottom: 0;
			margin: auto;
			&, .footer-background-middle {
				@include mixins.position($type: absolute, $left: 0, $right: 0, $z: 1);
			}
			.footer-background-top, .footer-background-bottom {
				min-height: 1px;
				@include mixins.flex(0 1 auto);
			}
			.footer-background-top {
				height: 25%;
			}
			.footer-background-middle {
				top: 40%;
				border-bottom: 2.5px dashed theme.$color-03;
			}
			.footer-background-bottom {
				height: 75%;
				background: theme.$color-10 url('/assets/images/theme/pattern.jpg');
				border-top: theme.$spacing-x1 solid theme.$color-11;
			}
		}
		.footer-container {
			padding: 0 theme.$spacing-x4;
			z-index: 2;
			.footer-flower {
				width: 25%;
				img {
					@include mixins.sizing(100%, 100%);
					@include mixins.object-fit(center, contain);
				}
			}
			.footer-content {
				@include mixins.flex;
				.footer-copyright {
					padding: 25% 0 0 0;
					font-size: functions.em(12px, rem);
					text-align: center;
					&, button.a {
						text-shadow: 0 2px 0 theme.$color-11;
					}
					&, a:active, a:hover, .a:active, .a:hover {
						color: theme.$color-01;
					}
					.footer-bullet {
						display: block;
						font-size: 0;
						padding: 0 theme.$spacing-x2;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.footer {
			.footer-background {
				.footer-background-top {
					height: 34%;
				}
				.footer-background-middle {
					top: 46%;
				}
				.footer-background-bottom {
					height: 66%;
				}
			}
			.footer-container {
				.footer-content {
					.footer-copyright {
						padding-top: 20%;
						font-size: functions.em(theme.$font-size-global, rem);
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-03) {
		.footer {
			.footer-container {
				.footer-content .footer-copyright .footer-bullet {
					display: inline;
					font-size: inherit;
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-04) {
		.footer {
			.footer-container {
				padding: 0;
			}
		}
	}