// Local Sass modules
@use '@displaycoffee/styles/functions';
@use '@displaycoffee/styles/mixins';
@use '_core/styles/_theme';

//// HEADER
//// --------------------------------------------------------------------------

	// Style block

	.header {
		text-align: center;
		& > * {
			margin: 0 0 theme.$spacing-x1 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.h-text {
			font-size: functions.em(16px, rem);
		}
	}